<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <section class="header">
            <div>Categories</div>
            <ul class="menu">
                <li>
                    <a href ="{{ path('articles_list_by_category', {'categoryId': 1}) }}">Health prevention</a>
                    <a href ="{{ path('articles_list_by_category', {'categoryId': 2}) }}">Hospital News</a>
                    <a href ="{{ path('articles_list_by_category', {'categoryId': 3}) }}">COVID 19</a>
                </li>
            </ul>
            <div>Authors</div>
            <ul class="menu">
                <li>
                    <a href ="{{ path('articles_list_by_author', {'authorId': 1}) }}">Gregory House</a>
                    <a href ="{{ path('articles_list_by_author', {'authorId': 2}) }}">Lisa Caddy</a>
                    <a href ="{{ path('articles_list_by_author', {'authorId': 3}) }}">Christofer Michael Taub</a>
                </li>
            </ul>
        </section>
        {% block body %}{% endblock %}
    </body>
</html>
